/* DEVELOPER: GLENN FISCHER, IS117-005 FALL 2024*/

body {
    background-image: url('../images/imagehomepage.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}
    
main {
    flex: 1;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; 
}

footer {
    width: 100%; 
    background-color: #343a40; 
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    margin-top: auto;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Ensures the main content takes up available space */
}


